<div class="fx t-0025 l-0025  z06 rad-10 owf ba-i-01 c-b-itrwhite   f-center  ">
    <loader page="icon" path="components/inputs/" online="me.onHold = _$$TID_holdLogo;"
        params="{ text: '', hoverText: '', animeIn: 'flip', animeOut: 'none', icon: '/armour.jpg', size: '02', hoverColor: 'black rad-10', downColor: '-itrblue rad-10', color: 'trans rad-10'}">
    </loader>
</div>

<div class="fx l-005 b-01 h-p60  z06 rad-05   f-center  ">
    <loader page="dragArea" path="components/inputs/" online="me.onHold = _$$TID_holdLogo;" params="{ text: '', hoverText: '', animeIn: 'none', animeOut: 'none', icon: '/none.svg',
     size: '015', hSize: 'h-mn-full', backColor: 'trans rad-50', radius: '005', color: 'trwhite2'
    }"></loader>
</div>
  
/// live script
<script>
    var _$$TID_holdLogo = function () {
        __log(new Date().getTime())
    }

</script>