<div onmousedown="" class=" c$$backColor   nst root_drag_$$TID  rad-05  w-$$size h-$$size $$hSize">
    <div oncontextmenu="return false;" class="rt w-full h-full ">
        <div class="ab l-p50 btn t-p50 w-00   f-center  h-00   ">
            <div class="rad-50 rt c$$color c-ired w-mn-005 h-mn-005">

            </div>
        </div>
        <div class="ab l-p50 scl t-p50 w-00   f-center  h-00   ">
            <div class="rad-50 rt c$$color w-mn-$$radius h-mn-$$radius">

            </div>
        </div>
        <div class="ab  depth ba-i-01 c-b-i$$color rad-50    " style="width: 0px;height: 0px;">

        </div>
    </div>


    <div oncontextmenu="return false;" class="ab t-00 l-00 f f-c f-ct f-at f-jb  w-full h-full ">
        <div oncontextmenu="return false;" class=" l-p50 scl t-p50 w-full h-full owf  f-center     ">
            <img oncontextmenu="return false;"
                class="rad-50 c$$backColor  rad-50 rt icon w-mn-$$size animated h-mn-$$size    $$iconCss"
                $$src="$$images/$$icon" />
        </div>

    </div>
    <div oncontextmenu="return false;" class="ab c-htrans   t-00 l-00 nst z08  w-full h-full ">

    </div>
    <div class=" ab z07 b-00    l-00 w-full txt f-center rt fs-03 c-t$$color">$$text</div>
</div>


/// live script
<script>

    const elm = first('.root_drag_$$TID');
    const elm_btn = first('.root_drag_$$TID .btn');
    const elm_scl = first('.root_drag_$$TID .scl');
    const elm_icon = first('.root_drag_$$TID .icon');
    const elm_txt = first('.root_drag_$$TID .txt');
    const elm_depth = first('.root_drag_$$TID .depth');

    var events_$$TID = {
        status: {},
        icon: elm_icon,
        ctrl: elm,
        down: function (evt, th) {

            events_$$TID.status.d = 1;
            events_$$TID.status.t = new Date().getTime();
            events_$$TID.status.x = evt.offsetX;
            events_$$TID.status.y = evt.offsetY;
            events_$$TID.status.w = elm.offsetWidth;
            events_$$TID.status.h = elm.offsetHeight;

            elm_btn.style.left = events_$$TID.status.x + 'px';
            elm_btn.style.top = events_$$TID.status.y + 'px';


            events_$$TID.onDown(events_$$TID.status, [elm, elm_btn, elm_scl, elm_depth]);

            window.behindLoopContainer[$$TID] = function () {

                if (events_$$TID.status.d) {

                    events_$$TID.status.t = def(events_$$TID.status.t, new Date().getTime());

                    events_$$TID.status.dt = min(5000, new Date().getTime() - events_$$TID.status.t);

                    elm_depth.style.width = (events_$$TID.status.dt * 0.02) + 'px';
                    elm_depth.style.height = (events_$$TID.status.dt * 0.02) + 'px';
                    elm_depth.style.left = (events_$$TID.status.w / 2 - events_$$TID.status.dt * 0.02 / 2) + 'px';
                    elm_depth.style.top = (events_$$TID.status.h / 2 - events_$$TID.status.dt * 0.02 / 2) + 'px';
                    elm_depth.style.opacity = 1. - (events_$$TID.status.dt / 5000);
                    events_$$TID.onHold(events_$$TID.status);
                }

            }
        },
        move: function (evt, th) {


            events_$$TID.status.m = 1;

            events_$$TID.status.mx = evt.offsetX;
            events_$$TID.status.my = evt.offsetY;

            if (events_$$TID.status.d) {
                events_$$TID.status.dx = evt.offsetX - events_$$TID.status.x;
                events_$$TID.status.dy = evt.offsetY - events_$$TID.status.y;

                elm_scl.style.left = evt.offsetX + 'px';
                elm_scl.style.top = evt.offsetY + 'px';

                events_$$TID.onDrag(events_$$TID.status);
            }

            events_$$TID.onMove(events_$$TID.status);
        },
        over: function (evt, th) {

            elm.classList.remove('c$$color'.split(' ')[0]);
            elm.classList.add('c$$hoverColor'.split(' ')[0]);

            elm_txt.innerHTML = '$$hoverText';
            elm_txt.classList.remove('c-t$$color'.split(' ')[0]);
            elm_txt.classList.add('c-twhite');



            elm_icon.classList.remove('$$animeOut'.split(' ')[0]);
            elm_icon.classList.add('$$animeIn'.split(' ')[0]);

            if ('$$animeIn'.split(' ')[1]) {
                window.behindLoopContainer[$$TID + '_over'] = function () {

                    events_$$TID.status.tHover = def(events_$$TID.status.tHover, new Date().getTime());

                    events_$$TID.status.dttHover = new Date().getTime() - events_$$TID.status.tHover;

                    if (events_$$TID.status.dttHover > 600) {

                        elm_icon.classList.add('$$animeIn'.split(' ')[1]);
                        elm_icon.classList.remove('$$animeIn'.split(' ')[0]);



                        window.behindLoopContainer[$$TID + '_over'] = null;
                        events_$$TID.status.tHover = null;

                    }


                }
            }


        },

        out: function (evt, th) {


            elm_txt.innerHTML = '$$text';
            elm_txt.classList.add('c-t$$color'.split(' ')[0]);
            elm_txt.classList.remove('c-twhite');



            elm.classList.add('c$$backColor'.split(' ')[0]);
            elm.classList.remove('c$$hoverColor'.split(' ')[0]);

            elm_icon.classList.add('$$animeOut'.split(' ')[0]);
            elm_icon.classList.remove('$$animeIn'.split(' ')[0]);
            if ('$$animeIn'.split(' ')[1]) { elm_icon.classList.remove('$$animeIn'.split(' ')[1]) };
        },

        up: function (evt, th) {

            if (events_$$TID.status.d && !events_$$TID.status.m && events_$$TID.status.dt < 1000) {
                events_$$TID.onClick(events_$$TID.status);
            } else if (events_$$TID.status.d && !events_$$TID.status.m) {
                events_$$TID.onRelease(events_$$TID.status);
            } else if (events_$$TID.status.d) {
                events_$$TID.onDrop(events_$$TID.status);
            }

            events_$$TID.status.d = 0;
            events_$$TID.status.m = 0;
            events_$$TID.status.x = null;
            events_$$TID.status.y = null;

            elm_btn.style.left = events_$$TID.status.w / 2 + 'px';
            elm_btn.style.top = events_$$TID.status.h / 2 + 'px';
            elm_scl.style.left = events_$$TID.status.w / 2 + 'px';
            elm_scl.style.top = events_$$TID.status.h / 2 + 'px';

            elm_depth.style.width = '0px';
            elm_depth.style.height = '0px';
            elm_depth.style.left = (events_$$TID.status.w / 2) + 'px';
            elm_depth.style.top = (events_$$TID.status.h / 2) + 'px';

            elm.classList.add('c$$elm_icon'.split(' ')[0]);
            elm.classList.remove('c$$downColor'.split(' ')[0]);

            elm_icon.classList.add('$$animeOut'.split(' ')[0]);
            elm_icon.classList.remove('$$animeIn'.split(' ')[0]);
            if ('$$animeIn'.split(' ')[1]) elm_scl.classList.remove('$$animeIn'.split(' ')[1]);


            window.behindLoopContainer[$$TID] = null;
            window.behindLoopContainer[$$TID + '_over'] = null;

            events_$$TID.status.tHover = null;

            elm_txt.innerHTML = '$$text';
            elm_txt.classList.add('c-t$$color'.split(' ')[0]);
            elm_txt.classList.remove('c-twhite');

            events_$$TID.onUp(events_$$TID.status, [elm, elm_btn, elm_scl, elm_depth]);
        },

        onDrag: function () { },
        onDrop: function () { },
        onClick: function () { },
        onHold: function () { },
        onRelease: function () { },
        onDown: function () { },
        onMove: function () { },
        onUp: function () { },

    }

    rootMoves.push(function (event) {

        var w2 = elm.parentNode.offsetWidth / 2.;
        var h2 = elm.parentNode.offsetHeight / 2.;


        var x = event.offsetX - elm.parentNode.offsetLeft - w2;
        var y = event.offsetY - elm.parentNode.offsetTop - h2;
        var d = norm({ x: x, y: 0, z: y });

        events_$$TID.move({ offsetX: floor(d.x * w2 * 0.8) + w2, offsetY: floor(d.z * h2 * 0.8) + h2 }, elm)
    })
    rootUps.push(function (event) {

        var w2 = elm.parentNode.offsetWidth / 2.;
        var h2 = elm.parentNode.offsetHeight / 2.;


        var x = event.offsetX - elm.parentNode.offsetLeft;
        var y = event.offsetY - elm.parentNode.offsetTop;
        var d = norm({ x: x, y: 0, z: y });

        events_$$TID.up({ offsetX: floor(d.x * w2 * 0.8) + w2, offsetY: floor(d.z * h2 * 0.8) + h2 }, elm)
    })


    elm.addEventListener('mousedown', function (event) { events_$$TID.down(event, elm); });
    elm.addEventListener('mousemove', function (event) { events_$$TID.move(event, elm); event.stopPropagation() });
    elm.addEventListener('mouseover', function (event) { events_$$TID.over(event, elm); });
    elm.addEventListener('mouseout', function (event) { events_$$TID.out(event, elm); });
    elm.addEventListener('mouseup', function (event) { events_$$TID.up(event, elm); event.stopPropagation() });

    elm.addEventListener('touchstart', function (event) {

        if (event.touches.length > 0) {

            var x = event.touches[0].clientX - elm.parentNode.offsetLeft;
            var y = event.touches[0].clientY - elm.parentNode.offsetTop;

            events_$$TID.down({ offsetX: x, offsetY: y }, elm);
        }
        event.preventDefault()

    });
    elm.addEventListener('touchmove', function (event) {

        if (event.touches.length > 0) {

            var x = event.touches[0].clientX - elm.parentNode.offsetLeft;
            var y = event.touches[0].clientY - elm.parentNode.offsetTop;

            events_$$TID.move({ offsetX: x, offsetY: y }, elm);
        }
        event.preventDefault()

    });
    elm.addEventListener('touchend', function (event) {

        if (event.touches.length > 0) {

            var x = event.touches[0].clientX - elm.parentNode.parentNode.offsetLeft;
            var y = event.touches[0].clientY - elm.parentNode.parentNode.offsetTop;

            events_$$TID.up({ offsetX: x, offsetY: y }, elm);
        } else  events_$$TID.up({   }, elm);

        event.preventDefault()
    });

    elm.addEventListener('contextmenu', function (event) {
        event.defaultPrevented(); return false;
    });


    TsID[$$TID] = events_$$TID;
</script>